/* .visual {
  font-size: 16px;
}

.visual .visual_container {
  width: 100%;
  height: 100vh;
}

.visual .visual_container .overlap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.3;
  background: #897e7e;
}

.visual .visual_container .bg {
  width: 100%;
  height: 100%;
  background-image: url('/images/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

.visual .inner_txt {
  position: absolute;
  z-index: 40;
  top: 42%;
  left: 23%;
}

.visual .inner_txt h1 {
  font-size: 2.8em;
  line-height: 1.2;
  color: #fff;
}

.visual .inner_txt p {
  margin-top: 8px;
  font-size: 1.3em;
  color: #e9e9e9;
}


.scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  color: #fff;
  font-size: 1em;
}

.scroll .arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 40px;
  border: 1px solid;
  border-radius: 2px;
}

.scroll .arrow::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 0%;
  background-color: #fff;
  animation: full_bg 2s linear infinite;
}


@keyframes full_bg {
  0% {
    height: 0%;
    opacity: 0;
  }

  100% {
    height: 100%;
    opacity: 1;
  }
}

.section01 {}

.section01 .wrap {
  font-size: 18px;
}

.section01 .sec1_container {
  text-align: center;
  height: 350px;
  padding: 80px 0;
}

.section01 .inner_txt {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

.section01 .txt {
  width: 100%;
}

.section01 .wrap .inner_txt h2 {
  font-size: 2em;
}

.section01 .wrap .inner_txt p {
  text-align: center;
  margin-top: 40px;
  font-size: 1.7em;

  .txt_color {
    color: #7b3cac;
  }
}

.section02 {
  width: 100%;
}

.section02 .service_container {
  padding: 80px 0;
  height: 700px;
}

.section02 .wrap h2 {
  font-size: 2em;
}

.section02 .service_inner {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.service_inner .service_content {
  width: 350px;
  height: 350px;
  border: none;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.service_content img{
  img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
  }
}

.service_content .txt {
  text-align: center;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3em;
} */

/* <============= section03 영역 =============> */
/* .section03 {
  width: 100%;
}

.section03 .stats_container {
  padding: 80px 0;
  height: 400px;
}

.section03 .wrap h2 {
  font-size: 2em;
}

.section03 .wrap p {
  font-size: 1.2em;
  font-weight: 300;
  color: #897e7e;
}

.section03 .stats_inner {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.section03 .stats_inner .stats {
  width: 350px;
  position: relative;
  top: 0;
  left: 0;
}

.stats:not(.stats:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  background-color: #ccc;
  height: 72px;
}

.stats .name {
  font-size: 1.8em;
  font-weight: 500;
  color: #8c4abd;
}

.stats .value,
.stats .percent {
  font-size: 1.6em;
  font-weight: 800;
} */

/* <============= contact 영역 =============> */
/* .contact {
  width: 100%;
}

.contact .contact_container {
  padding: 80px 0;
  height: fit-content;
}

.contact .wrap h2 {
  font-size: 2em;
}

.contact .wrap .form_wrap {
  width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact .wrap .form_wrap form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form_wrap label {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border-bottom: 1px solid #897e7e;
}

.form_wrap label:nth-child(4) {
  border: none;
}

.form_wrap label .name {
  display: inline-block;
  align-self: start;
  font-size: 1.2em;
}

.form_wrap input,
.form_wrap textarea {
  outline: none;
  border: none;
  height: 35px;
  font-size: 1.2em;
  background: transparent;
}

.form_wrap form label textarea {
  margin-top: 10px;
  padding: 10px;
  height: 300px;
  resize: none;
  border: 1px solid #bababa;
  border-radius: 8px;
  font-weight: 600;
}

.form_wrap form .frm_btn {
  margin-left: 10px;
  width: 80px;
  height: 35px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form_wrap form .frm_btn:hover {
  opacity: 0.7;
} */