.footer {
  width: 100%;
  background-color: rgb(44, 44, 44);
  font-size: 18px;
}

.footer_container {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  color: #f6f5f5;
}